body, html {
  background-image: url("../img/robot-bg2.jpg");
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 50px;
  text-align: center;
}

.header {
  padding-top: 20px;
  background-color: rgba(169, 169, 169, 0.5);
}

.body {
  background-color: rgba(169, 169, 169, 0.5);
}
