body, html {
  background-image: url("../img/simpleBlue2.jpg");
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  font-family: 'Monoton';
  font-size: 100px;
  text-align: center;
}

.body {
  color: white;
  text-align: center;
}

#submit {
  color: black;
}

#result {
  text-align: center;
  color: white;
}
